/* style resets */
table.nes-day-view,
.nes-day-view tbody,
.nes-day-view tfoot,
.nes-day-view thead,
.nes-day-view tr,
.nes-day-view th,
.nes-day-view td,
.nes-day-view colgroup,
.nes-day-view col {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  padding: 0;
  border-collapse: collapse;
  border:none;
  font-weight: normal;
  vertical-align: middle;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  word-wrap: normal;
}

/* nes general */
.nes-clearer {
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block;
}
.nes-embed-container{ 
  display: block;
  padding-top: 56.25%;
  position: relative;
  top: 0;
  width: 100%;

} 
.nes-embed-container iframe,
.nes-embed-container object,
.nes-embed-container embed { 
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border:1px solid #eee;
}

.nes-back-button{font-size: 0.8em;margin-bottom: 20px;display: inline-block;}
.nes-back-button i {font-size: 0.6em;margin-right:5px;}

/* frontend filter */
.nes-filter-wrap {font-size:14px; background: #fafafa; border:1px solid #eee; border-bottom:none; margin-top:15px;}
.nes-filter-wrap .nes-filter-toggle {color: #666; border-bottom: 1px solid #eee; padding:10px; margin-bottom:0; font-size: 1em; cursor:pointer;}
.nes-filter-wrap .nes-filter-toggle i {float:right; font-size: 0.8em;}
#nes-day-form {padding:10px;}
#nes-day-form label {display:block; cursor:pointer; margin-bottom:5px; font-size:0.9em;}
#nes-day-form .nes-filter-title {text-transform:uppercase; font-size: 1em; color:#666;}
#nes-day-form .nes-venue-filter {box-sizing:border-box; float:left; width:25%;}
#nes-day-form .nes-venue-filter select, #nes-day-form .nes-datepicker input {padding:5px 10px; border:1px solid #d1d1d1;}
#nes-day-form .nes-venue-filter .nes-venue-color {box-sizing:border-box; width:16px; height:16px; line-height:16px; border:1px solid #ccc; font-size: 0.6em; text-align: center; display: inline-block; margin-right: 5px;}
#nes-day-form .nes-category-filter {box-sizing:border-box; float:left; width:23%;}
#nes-day-form .nes-category-filter input {margin-right:5px;}
#nes-day-form .nes-datepicker {box-sizing:border-box; float:left; width:27%; padding-right:20px;}
#nes-day-form #nes-datepicker {width:75%;}
#nes-day-form .nes-datepicker .ui-datepicker-trigger {border:none; outline: 0; margin-left: 10px; font-size: 1.2em; padding: 0; background: none; color: #ccc;}
.nessie-page #ui-datepicker-div {z-index: 1005 !important;}
#nes-day-form .nes-views {float:right; width:25%;}
#nes-day-form .nes-views .nes-view-link {text-transform:uppercase; display: block; text-decoration: none; color: #424242; font-size: 0.9em; margin-bottom: 10px; padding: 0; box-shadow: none;}
#nes-day-form .nes-views .nes-view-link:focus, #nes-day-form .nes-views .nes-view-link:active {outline:0;}
#nes-day-form .nes-views .nes-view-link span {margin-left: 20px; display: block; line-height: 1em;}
#nes-day-form .nes-views .nes-view-link i {float:left; font-size:12px; color:#666;}
.nes-more-trigger {cursor:pointer; font-size: 0.9em;color: #aaa;}
.nes-more-trigger i {margin-left: 5px; font-size: 0.6em;color: #aaa;}

/* frontend view nav */
#nes-table-wrap {clear:left;}
#nes-table-wrap h3 {text-align: center;}
#nes-table-wrap .nes-prev-day {font-size:0.6em; float:left;}
#nes-table-wrap .nes-next-day {font-size:0.6em; float:right;}
.nes-view-date {text-align: center; color:#333; font-size: 24px;}
.nes-view-date button:hover, .nes-view-date button:focus {outline:0;}
.nes-view-date .nes-prev-month {cursor:pointer; font-size:0.6em; float:left; border:none;background:none; color:#424242;text-decoration: none;}
.nes-view-date .nes-prev-month i {font-size:0.6em; margin-right: 3px;}
.nes-view-date .nes-next-month {cursor:pointer; font-size:0.6em; float:right; border:none;background:none; color:#424242;text-decoration: none;}
.nes-view-date .nes-next-month i {font-size:0.6em; margin-left:3px;}
.nes-prev-next-month-wrap {text-align: center;}
.nes-prev-next-month-wrap .nes-prev-month {cursor:pointer;font-size:0.8em; float:left; border:none;background:none; color:#424242;text-decoration: none;}
.nes-prev-next-month-wrap .nes-prev-month i {font-size:0.6em; margin-right: 3px;}
.nes-prev-next-month-wrap .nes-next-month {cursor:pointer;font-size:0.8em; float:right; border:none;background:none; color:#424242; text-decoration: none;}
.nes-prev-next-month-wrap .nes-next-month i {font-size:0.6em; margin-left:3px;}
.nes-prev-next-day-wrap {text-align: center;}
.nes-prev-next-day-wrap .nes-prev-month {font-size:0.8em; float:left; border-radius:0; border:none; outline:0; background:none; color:#424242;}
.nes-prev-next-day-wrap .nes-prev-month i {font-size:0.6em; margin-right: 3px;}
.nes-prev-next-day-wrap .nes-next-month {font-size:0.8em; float:right; border-radius:0; border:none; outline:0; background:none; color:#424242;}
.nes-prev-next-day-wrap .nes-next-month i {font-size:0.6em; margin-left:3px;}

/* view change loading */
#nes-loading {width:100%; height:600px; margin-top:40px; text-align: center; font-size:1.6em; color:#333;}
#nes-loading i {font-size: 1.4em;}

/* frontend main container */
#nes-shortcode-view{margin-bottom:40px;}

/* frontend reservation view */
table.nes-day-view { table-layout: auto; font-size: 14px;margin-bottom:20px; width:100%; background: #fff; border-right:1px solid #eee; border-bottom:1px solid #eee;}
.nes-day-view .nes-header-row {background: #ddd;}
.nes-header-row th {text-align: center;}
.nes-header-row th.nes-times {width:100px; text-align: center;}
.nes-day-view th {padding:10px; box-sizing:border-box; text-align: center; line-height: 1.2em;}
.nes-day-view td {position:relative; box-sizing:border-box; height:30px; border-left:1px solid #eee; border-top:1px solid #eee;}
.nes-day-view td.ui-selectee:hover {background:#FFDAB9;}
.nes-day-view td.available:hover {cursor:pointer;}
.nes-day-view td.available:hover:after {font-sizes:0.8em; display:block; text-align:center; line-height:1em; content:"\f012"; font-family: 'Black Tie';}
.nes-day-view td.available.nes-editing:hover:before {float:left; content:''; display: block; line-height:1em; padding-left:10px;}
.nes-day-view td.available.nes-editing:hover:after {margin-left:5px; margin-right:10px; float:right; line-height:1em; content:""; font-family: 'Black Tie';}
.nes-day-view td.time {width:100px; padding:0 10px; white-space:nowrap;}
.nes-day-view .nes-event {border: 1px solid #fff; border-width: 0 0 1px 0; padding:10px; line-height:1.4em; color:white; z-index:9; position:absolute; top:0; left:0; width:100%; box-sizing:border-box; overflow: auto;}
.nes-day-view .nes-event a {background:#74ace8;}
.nes-day-view .not-available {background:#ccc;}
.nes-day-view .tableFloatingHeaderOriginal{z-index: 99;}
.nes-day-view .ui-selecting{background:#FFDAB9;}
.nes-day-view .ui-selected{background:#FFDAB9;}
.nes-event-success-message {margin-bottom:20px; clear: left;padding: 10px 20px;background: #F0F8FF;border-radius: 3px;border: 1px solid #ADD8E6;}
.nessie-page .nes-event-success-message ul {margin:10px 0 10px 20px;}

/* frontend tabbed reservation view */
.nes-tabbed-view {float:right;width:70%; margin-top:20px;}
.nes-location-tabs {float:left;width:25%;margin-top:20px; background: #eee; border:1px solid #eee; font-size:14px; z-index:9;}
.nes-location-tabs p {text-transform: uppercase; font-weight:bold;margin-bottom: 10px; padding:10px;}
.nes-location-tabs ul {margin:0;padding:0;}
.nes-location-tabs ul li {list-style: none; cursor: pointer; margin-bottom: 10px; margin-left:10px; line-height: 1em; padding:10px;}
.nes-location-tabs ul li.nes-active-tab {background: #fff; border:1px solid #eee; border-right:none;}

/* frontend reservation form */
#nes-event-form input,
#nes-event-form select,
#nes-event-form textarea{
  box-sizing:border-box;
}

#nes-event-form {margin-top:10px;}
#nes-event-form label {display:block; line-height: 1.2em; font-weight:bold; margin-bottom:10px;}
#nes-event-form select, #nes-event-form input, #nes-event-form textarea {padding:5px 10px; border:1px solid #d1d1d1;}
#nes-event-form .intl-tel-input {width:100%;}
#nes-event-form .intl-tel-input ul li {list-style: none;}
#nes-event-form .nes-tel-input {padding-left:52px;}
#nes-event-form .nes-tel-input::-webkit-input-placeholder,
#nes-event-form .nes-tel-input:-moz-placeholder,
#nes-event-form .nes-tel-input::-moz-placeholder,
#nes-event-form .nes-tel-input:-ms-input-placeholder {
   color: #ddd;
}
.nes-event-form-wrap > div {float:left; width:48%; margin:10px 1%;}
.nes-event-form-wrap .nes-event-info > div {float:left; width:48%; margin:10px 1%;}
.nes-event-form-wrap .nes-event-info {float:none; width:98%; margin:10px 1%;}
.nes-event-form-wrap .nes-event-description, .nes-event-form-wrap .nes-setup-needs, .nes-event-form-wrap .nes-av-needs {width:98%; margin:0 1% 10px;}
#nes-event-form input, #nes-event-form textarea, #nes-event-form select, #nes-event-form .chosen-container {width:100%;}
#nes-event-form .nes-venue p {margin:0; height:35px;}
#nes-event-form .nes-event-title {width:98%;margin:0 1%;}
#nes-event-form-datepicker {margin-bottom:10px;}
#nes-event-form .chosen-choices {padding:3px 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0);}
#nes-clicked-form {background:#fafafa; position: relative; z-index: 99; padding:0 10px; box-shadow: inset 0px 0px 10px #ddd;}
#nes-clicked-form h6 {margin:0 0 15px 0;border-bottom: 1px solid #ccc;padding: 15px 0;}
#nes-clicked-form h6 span {float:right; font-size:14px; color:#ccc; cursor:pointer;}
#nes-event-form .nes-event-submitted {width:98%; margin:20px 1%;}
#nes-event-form #nes-event-submitted {padding: 15px 0; height:auto; width:100%;}
.nes-editing {text-align:center;line-height:1em;background:#999; color:#fff;}
.nes-editing i {font-size: 0.8em; vertical-align: middle;}
.nes-event-form-wrap .nes-event-date-time-section {width:98%; float:left; margin:0 1% 20px; clear:both;}
.nes-event-form-wrap .nes-event-date {float:left; width:30%; margin-left:1%; margin-right: 4%;}
.nes-event-form-wrap .nes-event-date #nes-event-datepicker {width:70%; margin-right:5px;}
.nes-event-form-wrap .nes-event-date #nes-event-datepicker * {box-shadow: none;}
.nes-event-form-wrap .nes-event-date .ui-datepicker-trigger {background: none; border: none; color:#aaa; outline: 0;}
.nes-event-form-wrap .nes-venue {float:left; width:30%;margin-right: 4%;}
.nes-event-form-wrap .nes-locations {float:left; width:30%;}
.nes-event-form-wrap .nes-start {float:left; width:48%; margin:10px 1%;}
.nes-event-form-wrap .nes-end {float:left; width:48%; margin:10px 1%;}
#nes-event-form .nes-setup-time {margin-top:10px;}
#nes-event-form #nes-setup-time {margin-top:10px;}
#nes-event-form .nes-cleanup-time {margin-top:10px;}
#nes-event-form #nes-cleanup-time {margin-top:10px;}
#nes-event-form .nes-frequency-type {float:left; width:25%; margin:10px 4% 0 1%;}
#nes-event-form .nes-frequency-type input {width:auto; margin-right: 5px;}
#nes-event-form .nes-frequency {float:left; width:30%; margin:10px 0;}
#nes-event-form .nes-frequency-weekly input {width:auto; margin-right: 5px;}
#nes-event-form .nes-frequency-monthly {margin-bottom:10px;}

#nes-event-form .nes-private-public input {width:auto; margin-right: 5px;}

#nes-event-form .nes-series-start-end {float:left; width:35%; margin:10px 4% 0 0;}
#nes-event-form .nes-series-start-end.nes-custom {float:left; width:70%; margin:10px 0 0 0;}

#nes-event-form .nes-series-start-end.nes-custom .nes-custom-datepicker-wrap {width:100%;}
#nes-event-form .nes-series-start-end.nes-custom #nes-custom-datepicker {float:right; width:60%;}
#nes-event-form .nes-series-start-end.nes-custom #nes-custom-datepicker * {box-shadow: none;}
#nes-event-form .nes-series-start-end.nes-custom .nes-custom-dates {float:left; width:40%;}

#nes-event-form .nes-series-start-end .nes-series-start-date {margin-bottom:10px;}
.nes-event-form-wrap .nes-series-start-end .ui-datepicker-trigger {background: none; border: none; color:#aaa; outline: 0; font-size: 1em;}
.nes-event-form-wrap .nes-series-start-end #nes-series-start-datepicker {width:70%; margin-right:5px;}
.nes-event-form-wrap .nes-series-start-end #nes-frequency-end-datepicker {width:70%; margin-right:5px;}
.nes-event-form-wrap .nes-event-info > div.nes-event-description {width:98%; margin:10px 1%;}
.nes-event-date-time-section .nes-check-availability.button {width:100%; margin:20px 0; padding:15px 20px;}
.nes-event-date-time-section .nes-check-availability.button i {margin-left:5px; vertical-align: top;}
.nes-availability-wrap{margin-top:20px; clear: left;border-radius: 3px;}
.nes-checked {padding: 10px 20px;background: #F0F8FF;border: 1px solid #ADD8E6;}
#nes-event-form .nes-availability-result p {margin:10px 0;}
#nes-event-form .nes-availability-result ul {margin:10px 0 10px 20px;}
.nes-event-form-wrap .nes-event-info > div.nes-sending-message {width:98%; margin:20px 1% 0;text-align: center; clear: left;border-radius: 3px;padding: 10px;background: #F0F8FF;border: 1px solid #ADD8E6;}

/* required meta fields */
.nes-required-field {border:1px solid #a00 !important; background:#ffefef !important; }
.nessie-page .ui-widget-overlay {background: #000; z-index:1004;}
.nessie-page .ui-dialog {z-index: 1005;}
.nessie-page .ui-draggable .ui-dialog-titlebar {background: #ddd;}
.nessie-page .ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close {background: #ddd;}
.nessie-page .ui-dialog .ui-dialog-buttonpane button {background: #ddd;}
.nessie-page .nes-error-list li {list-style: disc; margin-left:10px;}
.nessie-page .nes-error-list {margin-left:30px;}


/* frontend month view */
#nes-calendar-month .nes-event {position:relative; line-height: 1.2em; font-size: 0.8em;}
#nes-calendar-month .nes-event>a {display: block; padding:3px 5px; border-radius: 3px; border:1px solid #ddd; margin-bottom:5px; width:100%; box-sizing:border-box; line-height: 1.2em;color:white !important; text-decoration: none; background:#74ace8;}
#nes-calendar-month .nes-event:hover .nes-event-tooltip {opacity: 1; visibility: visible;}
#nes-calendar-month .nes-event .nes-event-tooltip {border-radius:3px; opacity: 0; visibility: hidden; transition:all 50ms ease-in-out; position: absolute;top: 0px; left: 105%; background: white;background:rgba(255,255,255,0.95);box-shadow:0px 10px 50px 5px rgba(0,0,0,0.2);z-index: 9;color: #333;padding: 10px;width: 250px;}
#nes-calendar-month .nes-event .nes-event-tooltip:after {right: 100%;top: 10px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-right-color: #ffffff;border-width: 10px;}
#nes-calendar-month .nes-event .nes-event-tooltip.nes-tooltip-shift {left:auto;right: 105%;}
#nes-calendar-month .nes-event .nes-event-tooltip.nes-tooltip-shift:after {left: 100%;border-left-color: #ffffff;border-right-color:transparent;}
#nes-calendar-month .nes-event .nes-event-tooltip ul {margin:0;}
#nes-calendar-month .nes-event .nes-event-tooltip ul li {list-style: none; margin-left:0; margin-bottom:10px;}
#nes-calendar-month .nes-event .nes-event-tooltip ul li h5 {font-weight:bold; color:#74ace8; text-transform:uppercase; font-size: 1.2em; border-bottom:1px solid #eee;padding-bottom:5px;margin:0;}
#nes-calendar-month .nes-event .nes-event-tooltip ul li h5 i {color:#999; margin-left: 5px; float:right;}
#nes-calendar-month .nes-event .nes-event-tooltip ul .nes-event-venue {color:#999;}
#nes-calendar-month {table-layout:fixed; margin-bottom:20px; width:100%;border:1px solid #ccc; border-width: 1px 1px 1px 0;}
#nes-calendar-month th {width:14.285%; background: #ddd; padding:5px 0;border-left:1px solid #ccc; text-align: center;}
.nes-calendar .calendar-row td {vertical-align:top; padding:25px 5px 5px; background:#fff; position:relative; height: 100px; border:1px solid #ccc; border-width: 1px 0 0 1px;}
.nes-calendar .calendar-row td.calendar-day-np {background: #f5f5f5;}
.nes-calendar .calendar-row td.today {background:#ffffe0;}
.nes-calendar .calendar-row td .day-number {position:absolute; top:0; right:5px;}
.nes-calendar .nes-more-trigger {text-align: center;}

/* frontend list view */
.nes-event-list {margin-top:40px !important; margin-left:0 !important;}
.nes-list-item-date-info {float:left; width:150px; margin-bottom:10px; padding:10px 0; color:#fff; background: #ccc;border:1px solid #ddd; text-align: center;}
.nes-list-item-date-info .nes-list-item-month {font-size: 1.5em; text-shadow: 0 0 3px rgba(0,0,0,0.2);}
.nes-list-item-date-info .nes-list-item-day {font-size: 3em; line-height: 1em; margin:5px 0; text-shadow: 0 0 3px rgba(0,0,0,0.2);}
.nes-list-item-date-info .nes-list-item-year {font-size: 1.5em; text-shadow: 0 0 3px rgba(0,0,0,0.2);}
.nes-list-item-info {margin-left:190px;}
.nes-event-list .nes-event-list-item {list-style: none; margin-left:0; border-bottom:1px solid #eee;padding-bottom:10px; margin-bottom:20px;}
.nes-event-list-item .nes-list-item-title {font-size: 1.4em; color:#999;}
.nes-event-list-item .nes-list-item-title a {text-decoration:none;font-size: 1em; color:#666;}
.nes-event-list-item .nes-list-item-title i {margin-left:10px; font-size: 0.8em;}
.nes-event-list-item .nes-when {margin-bottom:0;}
.nes-event-list-item .nes-where {font-style:italic; margin-bottom:15px; color:#666;}
.nes-read-more {margin-left:5px; text-decoration: underline;}

/* frontend buttons */
.nes-button {display: inline-block; color:white !important; background:#333; border-radius:3px; padding:2px 10px; font-size: 12px; text-decoration: none;}
.nes-button:hover, .nes-button:focus {color:white !important; background:#333; text-decoration: none;}
.nes-button i {font-size: 8px; margin-right:3px;}

/* frontend ical buttons */
.nes-ical-buttons {margin-top:40px; }
.nes-ical-buttons .nes-button, #main .nes-ical-buttons .nes-button {float:right;margin-left:10px; color:#fff !important;}

/* widget */
.nes_events_list_widget .nes-widget-list .nes-list-item {margin-bottom:20px;}
.nes_events_list_widget .nes-widget-list .nes-list-item i {color:#999;}
.nes_events_list_widget .nes-widget-list .nes-list-item h5{margin-bottom:3px; font-weight: bold;}
.nes_events_list_widget .nes-widget-list .nes-list-item p {line-height: 1.2em;margin-bottom: 5px;}
.nes_events_list_widget .nes-widget-list .nes-list-item .nes-venue-location {color:#999; font-size: 0.9em; line-height: 1em;}
.nes_events_list_widget .view-all-events {float:right; margin-right:10px;}
.nes_events_list_widget .view-all-events i {font-size:0.8em; margin-left:5px;}

/* gravity forms styles */
.nes-single-event-content .gform_wrapper {width:100% !important;}
.nes-single-event-content .gform_wrapper .gf_right_third label.gfield_label+div.ginput_container {margin-top:2px !important;}
.nes-single-event-content .gf_float_left {float:left; margin-bottom: 20px !important;}
.nes-single-event-content .gform_wrapper .gsection .gfield_label, 
.nes-single-event-content .gform_wrapper h2.gsection_title, 
.nes-single-event-content .gform_wrapper h3.gform_title{font-weight: normal !important;}

/* admin bar */
#wp-admin-bar-nes-attendees > a:before{
  font-family: "Black Tie" !important;
  content: "\F0B8";
  font-size: 1em !important;
  line-height: 20px;
  font-weight: 900 !important;
  font-style: normal;
  margin-right:10px;
  position:relative;
  top:5px;
}

/* frontend single event */
.nes-single-event-content .nes-event-title {font-size: 2em; color:#666; padding-bottom:0; margin-bottom:10px;}
.nes-when-where {background: #fafafa; border:1px solid #eee; padding:20px;margin-bottom: 30px;}
.nes-when-where p {margin:10px 0;}
.nes-when-where .nes-when-where-info {float:left; width:53%;}
@media screen and (max-width: 1250px){
  .nes-when-where .nes-when-where-info {width:100%;}
}

.nes-when-where .nes-when-where-info sup {font-size: 0.6em; vertical-align: super;}
.nes-when-where .nes-when-where-map {float:right; width:45%;}
@media screen and (max-width: 1250px){
  .nes-when-where .nes-when-where-map {width:100%;}
}

.nes-when-where .nes-buttons {text-align:center; margin-top:20px;}
#main .nes-when-where .nes-button, .nes-when-where .nes-button {margin:5px; color:#fff !important;}
.nes-event-content {margin-bottom: 40px;}
.nes-section-title {padding-bottom:5px !important; margin-bottom:20px !important; border-bottom:1px solid #ccc;}
.nes-event-pagination {margin-top:100px; padding:20px 0; border-top:1px solid #ccc;}
.nes-event-pagination .nes-next-event {float:right;}
.nes-event-pagination .nes-next-event i {float:right; margin-top: 0.9em;}
.nes-event-pagination .nes-next-event span {display:inline-block;margin-right:20px;font-size: 0.8em;text-align: right;}
.nes-event-pagination .nes-previous-event {float:left;}
.nes-event-pagination .nes-previous-event i {float:left; margin-top: 0.9em;}
.nes-event-pagination .nes-previous-event span {display:inline-block;margin-left:20px;font-size: 0.8em;text-align: left;}
.nes-single-event-content .nes-single-event-message {margin-bottom:20px; clear: left;padding: 10px 20px;background: #F0F8FF;border-radius: 3px;border: 1px solid #ADD8E6;}

/* custom datepicker styles */
.nessie-page .ui-datepicker {
  padding: 0;  
  background: #666;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.nessie-page .ui-datepicker-header {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 15px;
}

.nessie-page .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.nessie-page .ui-datepicker .ui-datepicker-title {
  color: #fff;
  margin-top:5px;
}

.nessie-page .ui-datepicker .ui-datepicker-prev-hover,
.nessie-page .ui-datepicker .ui-datepicker-next-hover,
.nessie-page .ui-datepicker .ui-datepicker-next,
.nessie-page .ui-datepicker .ui-datepicker-prev {
  top: .9em;
  border:none;
}

.nessie-page .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.nessie-page .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.nessie-page .ui-datepicker .ui-datepicker-next span,
.nessie-page .ui-datepicker .ui-datepicker-prev span {
  background-image: url(ui-icons_ffffff_256x240.png);
  background-position: -32px 0;
  margin-top: 0;
  top: 0;
  font-weight: normal;
}

.nessie-page .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px 0;
}

.nessie-page .ui-datepicker table {
  margin: 0;
}

.nessie-page .ui-datepicker th {
  padding: 0 0 5px;
  color: #dedede;
  font-size: 13px;
  font-weight: normal;
  border: none;
}

.nessie-page .ui-datepicker .ui-state-highlight a {
  background:#333;
  color:#fff;
}

.nessie-page .ui-datepicker td {
  background: #fff;
  border: none;
  padding: 0;
}

.nessie-page td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: .5em;
  margin: 0;
  font-weight: normal;
  color: #333;
  font-size: 16px;
}

.nessie-page .ui-state-disabled  {
  opacity: 1;
}

.nessie-page .ui-state-disabled .ui-state-default {
  color: #aaa;
  background: #eee;
}

.nessie-page td .ui-state-hover {
  background: #666;
  color:#fff;
}